@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main__ship {
  width: 100px;
  height: 100px;
  position: relative;
  rotate: -90deg;
}
.main__ship > * {
  position: absolute;
}
.main__ship--bullet__container {
  width: 100px;
  height: 100px;
  z-index: -1;
  position: absolute;
  scale: 0.8;
}
.main__ship--bullet__container .mainShip__bullet {
  height: 5px;
  width: 50%;
  background: linear-gradient(to bottom, #FFA, #FF4);
  border-radius: 50% 50%;
  z-index: 100;
  position: absolute;
}
.main__ship--bullet__container .mainShip__bullet--num--1 {
  right: 5%;
  top: calc(50% - 2.5px);
}
.main__ship--bullet__container .mainShip__bullet--num--2 {
  left: 5%;
  top: calc(33% - 2.5px);
}
.main__ship--bullet__container .mainShip__bullet--num--3 {
  left: 5%;
  bottom: calc(33% - 2.5px);
}
.main__ship--blaster__container {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: -1;
  scale: 0.8;
}
.main__ship--blaster__container .mainShip__blaster {
  width: 50%;
  height: 5%;
  background: linear-gradient(to right, #29005b, #5106ae);
  position: absolute;
  border-radius: 40%;
}
.main__ship--blaster__container .mainShip__blaster--num--1::after, .main__ship--blaster__container .mainShip__blaster--num--2::after {
  content: "";
  width: 30%;
  height: 150%;
  position: absolute;
  background: linear-gradient(to right, #ffffff, #a380cf);
  right: 0;
  bottom: -25%;
  border-radius: 0 50% 50% 0;
  left: 90%;
}
.main__ship--blaster__container .mainShip__blaster--num--1 {
  top: 15%;
  left: 5%;
}
.main__ship--blaster__container .mainShip__blaster--num--2 {
  bottom: 15%;
  left: 5%;
}

.blasterExplosion {
  width: 80px;
  height: 80px;
  background: #ffff44;
  position: absolute;
  z-index: 3;
  border-radius: 50%;
}

@keyframes explosionAnimation {
  0% {
    outline-offset: 10px;
    outline: 70px solid #b12105;
    scale: 0;
    border: 30px solid #ff9436;
  }
  30% {
    outline: 30px solid #b12105;
  }
  50% {
    outline-offset: 0;
  }
  80% {
    outline: 1px solid #ff9436;
    border: 1px solid #ff9436;
    opacity: 1;
  }
  100% {
    background: rgb(250, 104, 12);
    opacity: 0;
  }
}
#main__ship__fuelData {
  width: 80px;
  height: 350px;
  background: rgba(199, 171, 232, 0.3);
  position: absolute;
  right: -80px;
  bottom: 0;
  gap: 20px;
  border-radius: 50px 0 0 0;
}
#main__ship__fuelData .fuel__icon {
  font-size: 40px;
}
#main__ship__fuelData .fuel__level {
  width: 70%;
  height: 262.5px;
  background: radial-gradient(#c0c0c0, #898886);
  border-radius: 30px;
  overflow: hidden;
}
#main__ship__fuelData .fuel__level .current__fuel__level {
  width: 100%;
  height: 0%;
  transition: height 0.2s, background-color 0.3s;
  background: #ffe436;
}

.main__ship__blasterData {
  width: 150px;
  height: 150px;
  position: absolute;
  background: rgba(199, 171, 232, 0.3);
  border-radius: 0 50px 0 0;
  bottom: 0;
  left: -150px;
  gap: 5px;
}
.main__ship__blasterData .blaster__icon {
  font-size: 40px;
}
.main__ship__blasterData .blaster__num {
  font-size: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.blasterAlarm {
  animation: BlasterAlarm 0.3s 6 alternate both;
}

@keyframes BlasterAlarm {
  0% {
    background: rgba(199, 171, 232, 0.3);
  }
  100% {
    background-color: rgba(218, 0, 44, 0.9);
  }
}
div[class*=main__ship--motor] {
  width: 60%;
  height: 15%;
  background: #8c56d0;
}
div[class*=main__ship--motor] .main__ship--guns {
  width: 30%;
  height: 10%;
  background: white;
  position: absolute;
}

.main__ship--motor__1 .gun__longer {
  right: -10%;
  top: 30%;
}
.main__ship--motor__1 .gun__shorter {
  right: -15%;
  bottom: 30%;
}

.main__ship--motor__2 .gun__longer {
  right: -10%;
  bottom: 30%;
}
.main__ship--motor__2 .gun__shorter {
  right: -15%;
  top: 30%;
}

.main__ship--motor__1 {
  top: 25%;
  border-radius: 0 30px 0 0;
}

.main__ship--motor__2 {
  bottom: 25%;
  border-radius: 0 0 30px 0;
}

.main__ship__cabin {
  width: 70%;
  height: 20%;
  top: 40%;
  right: 0;
  border-radius: 0 50% 50% 0;
  background: white;
}

.main__ship__cabin--glass {
  width: 30%;
  height: 70%;
  position: absolute;
  border-radius: 60% 100% 100% 60%;
  top: 15%;
  right: 15%;
  background: #29005b;
}

.main__ship__blasters {
  width: 50%;
  height: 5%;
  background: #ffffff;
  border-radius: 40%;
}
.main__ship__blasters::after {
  content: "";
  width: 30%;
  height: 30%;
  position: absolute;
  background: #6a5683;
  left: 35%;
  rotate: 90deg;
}

.main__ship__blaster--1 {
  top: 15%;
}
.main__ship__blaster--1::after {
  bottom: -80%;
  z-index: 2;
}

.main__ship__blaster--2 {
  bottom: 15%;
}
.main__ship__blaster--2::after {
  top: -80%;
  z-index: 2;
}

.fighter__1 {
  width: 70px;
  height: 70px;
  position: relative;
  rotate: 90deg;
}
.fighter__1 > * {
  position: absolute;
}

.health__container {
  width: 10%;
  height: 100%;
  background: #ffffff;
  border: 2px solid #ffffff;
  left: -25%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.health__container .current__health {
  height: 100%;
  width: 100%;
  background: red;
}

div[class*=fighter__1--motor--] {
  width: 30%;
  height: 15%;
  background: #513b3c;
}

.fighter__1--motor--1 {
  top: 19%;
}

.fighter__1--motor--2 {
  bottom: 19%;
}

.fighter__1--main--cabin {
  width: 80%;
  height: 70%;
  background: #c71824;
  z-index: 1;
  top: 15%;
  right: 0;
}
.fighter__1--main--cabin::after, .fighter__1--main--cabin::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 35%;
  right: -30%;
  background: #513b3c;
  right: -21%;
}
.fighter__1--main--cabin::after {
  top: -6%;
  rotate: 45deg;
  border-radius: 30px 30px 5px 5px;
}
.fighter__1--main--cabin::before {
  bottom: -6%;
  rotate: -45deg;
  border-radius: 5px 5px 30px 30px;
}

div[class*=fighter__1--glasses--] {
  background: #28074f;
  width: 20%;
  height: 23%;
  position: absolute;
  transform: rotate(45deg);
}

.fighter__1--glasses--1 {
  right: 15%;
  top: 38.5%;
}

.fighter__1--glasses--2 {
  transform: rotate(38deg) !important;
  right: 24%;
  top: 22.5%;
}

.fighter__1--glasses--3 {
  transform: rotate(-38deg) !important;
  right: 24%;
  bottom: 22.5%;
}

div[class*=fighter__1--motor--cover--] {
  width: 40%;
  height: 5%;
  left: 0%;
  z-index: 2;
  background: #513b3c;
  border-radius: 0 100% 100% 0;
}

.fighter__1--motor--cover--1 {
  top: 15%;
}

.fighter__1--motor--cover--2 {
  bottom: 15%;
}

div[class*=fighter__1--gun--] {
  width: 60%;
  height: 7%;
  left: 0%;
  z-index: 0;
  background: #513b3c;
  border-radius: 0 100% 100% 0;
}
div[class*=fighter__1--gun--]::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 50%;
  background: #c71824;
  rotate: 90deg;
  right: 30%;
  z-index: 0;
}
div[class*=fighter__1--gun--]::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 50%;
  background: #c71824;
  rotate: 90deg;
  z-index: 0;
}

.fighter__1--gun--1 {
  top: 0%;
}
.fighter__1--gun--1::after, .fighter__1--gun--1::before {
  bottom: -110%;
}

.fighter__1--gun--2 {
  bottom: 0%;
}
.fighter__1--gun--2::after, .fighter__1--gun--2::before {
  top: -110%;
}

.fighter__2 {
  width: 70px;
  height: 70px;
  position: relative;
  rotate: 90deg;
}
.fighter__2 > * {
  position: absolute;
}

.fighter__2--main--cabin {
  width: 90%;
  height: 30%;
  background: #c71824;
  z-index: 2;
  top: 35%;
  border-radius: 0 50% 50% 0;
}

div[class*=fighter__2--motor--] {
  width: 20%;
  height: 15%;
  background: #513b3c;
}

.fighter__2--motor--1 {
  top: 20%;
  border-radius: 0 100% 0 0;
}

.fighter__2--motor--2 {
  bottom: 20%;
  border-radius: 0 0 100% 0;
}

div[class*=fighter__2--blasters--] {
  width: 50%;
  height: 10%;
  background: #c71824;
  right: 15%;
  z-index: 3;
}

.fighter__2--blasters--1 {
  top: 12%;
}

.fighter__2--blasters--2 {
  bottom: 12%;
}

div[class*=fighter__2--blaster--keeper--] {
  content: "";
  height: 5%;
  width: 30%;
  position: absolute;
  background: #513b3c;
  right: 45%;
  border-radius: 0 30% 30% 0;
  border-radius: 30%;
}

.fighter__2--blaster--keeper--1 {
  top: 25%;
  rotate: -65deg;
}

.fighter__2--blaster--keeper--2 {
  bottom: 25%;
  rotate: 65deg;
}

.fighter__2--main--cabin--glass {
  width: 40%;
  height: 60%;
  top: 20%;
  left: 30%;
  border-radius: 30% 60% 60% 30%;
  position: absolute;
  background: #28074f;
}

.fighter__3 {
  width: 70px;
  height: 70px;
  position: relative;
  rotate: 90deg;
}
.fighter__3 > * {
  position: absolute;
}

.fighter__3--main--cabin {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background: #c71824;
  top: 20%;
  left: 20%;
}

.fighter__3--cabin--glass {
  height: 30%;
  width: 50%;
  top: 35%;
  left: 25%;
  background: #28074f;
  position: absolute;
  border-radius: 10% 60% 60% 10%;
}

div[class*=fighter__3--blaster--] {
  width: 55%;
  height: 15%;
  background: #503a3b;
  z-index: 1;
  left: 22.5%;
  border-radius: 35%;
}
div[class*=fighter__3--blaster--]::after {
  content: "";
  position: absolute;
  background-color: #c71824;
  width: 60%;
  height: 70%;
  border-radius: 50%;
  left: 20%;
}

.fighter__3--blaster--1 {
  top: 15%;
}
.fighter__3--blaster--1::after {
  top: 15%;
}

.fighter__3--blaster--2 {
  bottom: 15%;
}
.fighter__3--blaster--2::after {
  bottom: 15%;
}

div[class*=fighter__3--gun--] {
  width: 17%;
  height: 4%;
  background: #513b3c;
  right: 10%;
  z-index: 2;
}

.fighter__3--gun--1 {
  top: 40%;
}

.fighter__3--gun--2 {
  bottom: 40%;
}

.boss__fight {
  width: 200px;
  height: 200px;
  position: relative;
}
.boss__fight > * {
  position: absolute;
}

.outer__box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.inner__box {
  width: 100%;
  height: 100%;
  background: radial-gradient(#c71824, #503a3b 70%);
  rotate: 45deg;
}

div[class*=boss__fight--blaster] {
  width: 15%;
  height: 2%;
  border-radius: 0 50% 50% 0;
  background: #503a3b;
}

.boss__fight--blaster--1 {
  rotate: -90deg;
  left: 27%;
  top: -2%;
}

.boss__fight--blaster--2 {
  rotate: -90deg;
  right: 27%;
  top: -2%;
}

.boss__fight--blaster--3 {
  right: -8%;
  top: 33%;
}

.boss__fight--blaster--4 {
  right: -8%;
  bottom: 33%;
}

.boss__fight--blaster--5 {
  rotate: 90deg;
  left: 27%;
  bottom: -2%;
}

.boss__fight--blaster--6 {
  rotate: 90deg;
  right: 27%;
  bottom: -2%;
}

.boss__fight--blaster--7 {
  rotate: 180deg;
  left: -8%;
  top: 33%;
}

.boss__fight--blaster--8 {
  rotate: 180deg;
  left: -8%;
  bottom: 33%;
}

div[class*=boss__fight--gun--] {
  width: 10%;
  height: 1%;
  background: #c71824;
}

.boss__fight--gun--1 {
  rotate: 90deg;
  top: -1%;
  left: 41%;
}

.boss__fight--gun--2 {
  rotate: 90deg;
  top: -1%;
  right: 41%;
}

.boss__fight--gun--3 {
  right: -5.5%;
  top: 45%;
}

.boss__fight--gun--4 {
  right: -5.5%;
  bottom: 45%;
}

.boss__fight--gun--5 {
  rotate: 90deg;
  bottom: -1%;
  right: 41%;
}

.boss__fight--gun--6 {
  rotate: 90deg;
  bottom: -1%;
  left: 41%;
}

.boss__fight--gun--7 {
  left: -5.5%;
  bottom: 45%;
}

.boss__fight--gun--8 {
  left: -5.5%;
  top: 45%;
}

div[class*=boss__fight--laser--] {
  width: 15%;
  height: 5%;
  background: #a5222b;
}

.boss__fight--laser--1 {
  left: 6%;
  top: 10%;
  rotate: -45deg;
  border-radius: 30px 30px 0 0;
}

.boss__fight--laser--2 {
  right: 6%;
  top: 10%;
  rotate: 45deg;
  border-radius: 30px 30px 0 0;
}

.boss__fight--laser--3 {
  right: 6%;
  bottom: 10%;
  rotate: -45deg;
  border-radius: 0 0 30px 30px;
}

.boss__fight--laser--4 {
  left: 6%;
  bottom: 10%;
  rotate: 45deg;
  border-radius: 0 0 30px 30px;
}

.page__menu {
  width: 100%;
  height: 100vh;
  background-image: url(../images/background-images/page-game-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 10vh 5vw;
  box-sizing: border-box;
  align-items: center;
  cursor: url("../images/mouse-cursor/fork.png"), pointer;
}
.page__menu button {
  width: 30%;
  margin-bottom: 0.5rem;
  background: transparent;
  border: 0;
  background: hsla(223deg, 92%, 10%, 0.5);
  font-size: 2rem;
  border-radius: 50px;
  font-family: "Ubuntu Condensed", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #ffffff;
  border: 3px solid #404F87;
  padding: 0.3rem 0;
  cursor: url("../images/mouse-cursor/fork-hovered.png"), pointer !important;
}

.locked__button {
  opacity: 0.5;
  cursor: url("../images/mouse-cursor/fork-hovered.png"), pointer !important;
}
.locked__button > span {
  rotate: -30deg;
  translate: -20px 0px;
}

.page__menu--h1 {
  color: #ffffff;
  text-align: center;
  font-family: "Bebas Neue", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 10vh;
  user-select: none;
}
.page__menu--h1--top, .page__menu--h1--bottom {
  display: flex;
  justify-content: center;
  text-shadow: 0 1px 0 #FFF, 0 2px 0 #E7EBFA, 0 3px 3px #CAD3F5, 0 4px 3px #ADBCF0, 0 5px 3px #9FB0ED, 0 6px 3px #91A4EA, 0 7px 3px #8399E7, 0 8px 3px #748DE5, 0 9px 3px #6681E2, 0 10px 3px #5875DF, 0 11px 3px #496ADD, 0 12px 3px #3B5EDA, 0 20px 30px rgba(158, 158, 158, 0.5);
}
.page__menu--h1--top {
  font-size: 8rem;
  gap: 2px;
  transform: translateY(35px);
}
.page__menu--h1--top :nth-child(1) {
  transform: skew(5deg, 2deg);
}
.page__menu--h1--top :nth-child(2) {
  transform: skew(2deg, 1deg);
}
.page__menu--h1--top :nth-child(3) {
  transform: skew(3deg, 0deg);
}
.page__menu--h1--top :nth-child(4) {
  transform: skew(0deg, 0deg);
}
.page__menu--h1--top :nth-child(5) {
  transform: skew(0deg, 0deg);
}
.page__menu--h1--top :nth-child(6) {
  transform: skew(-3deg, 0deg);
}
.page__menu--h1--top :nth-child(7) {
  transform: skew(-2deg, -1deg);
}
.page__menu--h1--top :nth-child(8) {
  transform: skew(-5deg, -2deg);
}
.page__menu--h1--bottom {
  font-size: 10rem;
  gap: 3px;
}
.page__menu--h1--bottom :nth-child(1) {
  transform: skew(-16deg, -2deg);
}
.page__menu--h1--bottom :nth-child(2) {
  transform: skew(-13deg, 0deg);
}
.page__menu--h1--bottom :nth-child(3) {
  transform: skew(-16deg, -1deg);
}
.page__menu--h1--bottom :nth-child(4) {
  transform: skew(-5deg, -1deg);
}
.page__menu--h1--bottom :nth-child(5) {
  transform: skew(3deg, 0deg);
}
.page__menu--h1--bottom :nth-child(6) {
  transform: skew(5deg, 1deg);
}
.page__menu--h1--bottom :nth-child(7) {
  transform: skew(6deg, 0deg);
}
.page__menu--h1--bottom :nth-child(8) {
  transform: skew(10deg, 8deg);
}

#lock__message {
  cursor: url("../images/mouse-cursor/fork.png"), pointer !important;
}
#lock__message .modal-title {
  font-size: 2rem;
  font-family: "Ubuntu Condensed", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}
#lock__message .modal-body p {
  text-transform: capitalize;
  font-family: "Ubuntu Condensed", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.6rem;
}
#lock__message .modal-footer button[data-bs-dismiss=modal], #lock__message .modal-footer #go__tutorial {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: "Ubuntu Condensed", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0.4rem 1rem;
  cursor: url("../images/mouse-cursor/fork-hovered.png"), pointer !important;
}
#lock__message .modal-footer button[data-bs-dismiss=modal] {
  background: #a5222b;
}
#lock__message .modal-footer #go__tutorial {
  background: #28074f;
}

#game__container {
  overflow: hidden;
  position: relative;
}

.page__tutorial {
  width: 100%;
  height: 100vh;
  background-image: url("../images/background-images/page-tutorial-bg.jpg");
  background-position: center;
  background-size: contain;
  position: absolute;
  user-select: none;
  overflow: hidden;
  top: 0;
  right: 100%;
}
.page__tutorial .enemy__container {
  margin: 0 auto;
}
.page__tutorial .enemy__container .fighter__1 {
  position: absolute;
  top: 15vh;
  translate: 0 -300px;
}
.page__tutorial .enemy__container .enemy__num__1 {
  left: 20%;
}
.page__tutorial .enemy__container .enemy__num__2 {
  left: 35%;
}
.page__tutorial .enemy__container .enemy__num__3 {
  right: 35%;
}
.page__tutorial .enemy__container .enemy__num__4 {
  right: 20%;
}
.page__tutorial .main__ship {
  width: 100px;
  height: 100px;
}
.page__tutorial .text__container {
  margin: -5vh 5vw;
}
.page__tutorial .tutorial__headers {
  font-size: 3rem;
  font-family: "Bebas Neue", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.page__tutorial p {
  font-size: 1.3rem;
  font-family: "Bebas Neue", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0.8rem 0;
  max-width: 500px;
  text-align: justify;
}

.meteorite__image__container {
  height: 100vh;
  width: 90%;
  position: fixed;
  left: 110%;
  top: 0;
  scale: 1.2;
}
.meteorite__image__container .meteorite__image {
  width: 100%;
  height: 100%;
  border-radius: 50vh 0 0 50vh;
  background: linear-gradient(to right, #be7dff, rgba(190, 125, 255, 0) 97%);
  position: absolute;
  z-index: 1;
}
.meteorite__image__container img {
  height: 100vh;
  position: absolute;
  animation: rockAnimation 50s linear infinite;
}

@keyframes rockAnimation {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}