@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

$font-bebas-neue: "Bebas Neue", 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-roboto-mono: "Ubuntu Condensed", 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

@mixin gameBtn() {
    width: 30%;
    margin-bottom: .5rem;
    background: transparent;
    border: 0;
    background: hsla(223, 92%, 10%, 0.5);
    font-size: 2rem;
    border-radius: 50px;
    font-family: $font-roboto-mono;
    color: #ffffff;
    border: 3px solid #404F87;
    padding: .3rem 0;
    cursor: url("../images/mouse-cursor/fork-hovered.png"), pointer !important;
}

.page__menu{
    width: 100%;
    height: 100vh;
    background-image: url(../images/background-images/page-game-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 10vh 5vw;
    box-sizing: border-box;
    align-items: center;
    cursor: url("../images/mouse-cursor/fork.png"), pointer;
 
    button{
        @include gameBtn();
    }
}

.locked__button{
    opacity: .5;
    cursor: url("../images/mouse-cursor/fork-hovered.png"), pointer !important;
    > span{
        rotate: -30deg;
        translate: -20px 0px;
    }
}

.page__menu--h1{
    color: #ffffff;
    text-align: center;
    font-family: $font-bebas-neue;
    margin-bottom: 10vh;
    user-select: none;
    &--top, &--bottom{
        display: flex;
        justify-content: center;
        text-shadow: 0 1px 0 #FFF, 0 2px 0 #E7EBFA,
        0 3px 3px #CAD3F5, 0 4px 3px #ADBCF0,
        0 5px 3px #9FB0ED, 0 6px 3px #91A4EA,
        0 7px 3px #8399E7, 0 8px 3px #748DE5,
        0 9px 3px #6681E2, 0 10px 3px #5875DF,
        0 11px 3px #496ADD, 0 12px 3px #3B5EDA,
        0 20px 30px rgba(158, 158, 158, 0.5); 
    }
    &--top{
        font-size: 8rem;
        gap: 2px;
        transform: translateY(35px);
        :nth-child(1){
            transform: skew(5deg, 2deg);
        }
        :nth-child(2){
            transform: skew(2deg, 1deg);
        
        }
        :nth-child(3){
            transform: skew(3deg, 0deg);
        
        }
        :nth-child(4){
            transform: skew(0deg, 0deg);
            
        }
        :nth-child(5){
            transform: skew(0deg, 0deg)

        }
        :nth-child(6){
            transform: skew(-3deg, 0deg);
        
        }
        :nth-child(7){
            transform: skew(-2deg, -1deg);
        
        }
        :nth-child(8){
            transform: skew(-5deg, -2deg);
        }
    }
    &--bottom{
        font-size: 10rem;
        gap: 3px;
        :nth-child(1){
            transform: skew(-16deg, -2deg);
        }
        :nth-child(2){
            transform: skew(-13deg, 0deg);
        }
        :nth-child(3){
            transform: skew(-16deg, -1deg);
        }
        :nth-child(4){
            transform: skew(-5deg, -1deg);
        }
        :nth-child(5){
            transform: skew(3deg, 0deg);
        }
        :nth-child(6){
            transform: skew(5deg, 1deg);
        }
        :nth-child(7){
            transform: skew(6deg, 0deg);
        }
        :nth-child(8){
            transform: skew(10deg, 8deg);
        }
    }
}

// modal style
#lock__message{
    cursor: url("../images/mouse-cursor/fork.png"), pointer !important;
    .modal-title{
        font-size: 2rem;
        font-family: $font-roboto-mono;
        text-transform: capitalize;
    }
    .modal-body{
        p{
            text-transform: capitalize;
            font-family: $font-roboto-mono;
            line-height: 1.6rem;
        }
    }
    .modal-footer{
        button[data-bs-dismiss = "modal"], #go__tutorial{
            text-transform: uppercase;
            font-size: 1.3rem;
            font-family: $font-roboto-mono;
            padding: .4rem 1rem;
            cursor: url("../images/mouse-cursor/fork-hovered.png"), pointer !important;
        }
        button[data-bs-dismiss = "modal"]{
            background: #a5222b;
        }
        #go__tutorial{
            background: #28074f;
        }
    }
}