#game__container{
    overflow: hidden;
    position: relative;
}

.page__tutorial{
    width: 100%;
    height: 100vh;
    background-image: url("../images/background-images/page-tutorial-bg.jpg");
    background-position: center;
    background-size: contain;
    position: absolute;
    user-select: none;
    overflow: hidden;
    top: 0;
    right: 100%;
    .enemy__container{
        margin: 0 auto;
        .fighter__1{
            position: absolute;
            top: 15vh;
            translate: 0 -300px;
        }
        .enemy__num__1{
            left: 20%;
        }
        .enemy__num__2{
            left: 35%;
        }
        .enemy__num__3{
            right: 35%;
        }
        .enemy__num__4{
            right: 20%;
        }
    }
    .main__ship{
        width: 100px;
        height: 100px;
    }
    .text__container{
        margin: -5vh 5vw;
    }
    .tutorial__headers{
        font-size: 3rem;
        font-family: $font-bebas-neue;
    }
    p{
        font-size: 1.3rem;
        font-family: $font-bebas-neue;
        margin: .8rem 0;
        max-width: 500px;
        text-align: justify;
    }
}

.meteorite__image__container{
    height: 100vh;
    width: 90%;
    position: fixed;
    left: 110%;
    top: 0;
    scale: 1.2;
    .meteorite__image{
        width: 100%;
        height: 100%;
        border-radius: 50vh 0 0 50vh;
        background: linear-gradient(to right, #be7dff, #be7dff00 97%);
        position: absolute;
        z-index: 1;
    }
    img{
        height: 100vh;
        position: absolute;
        animation: rockAnimation 50s linear infinite;
    }
}

.tutorial__over__message{
    top: 12vh;
    left: 0;
    font-family: $font-bebas-neue;
    text-align: center;
    font-size: 6rem;
    width: 100%;
    max-width: 100%;
    position: absolute;
}

.tutorial__over__btn{
    @include gameBtn();
    position: absolute;
    left: 35%;
}

@keyframes rockAnimation {
    0%{
        rotate: 0;
    }
    100%{
        rotate: 360deg;
    }
}