@mixin backgroundNoRepeatCoverCenter() {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.page__levels{
    width: 100%;
    height: 100vh;
    background-image: url(../images/background-images/page-level-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0 5vw;
    cursor: url("../images/mouse-cursor/fork.png"), pointer;
    .level{
        user-select: none;
        width: 30%;
        height: 40vh;
        min-width: 200px;
        border-radius: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: url("../images/mouse-cursor/fork-hovered.png"), pointer !important;
        @include backgroundNoRepeatCoverCenter();
        gap: 1rem;
        .locked__level{
            opacity: 0;
        }
        .level__header{
            font-size: 1.5rem;
            font-family: $font-bebas-neue;
            color: rgba(255, 255, 255, 0.4);
            text-align: center;
        }
    }
    .lock__is__active{
        opacity: 1 !important;
        .lockIcon{
            color: rgba(255, 255, 255, 0.4);
            width: 10rem;
            height: 10rem;
            scale: 1.1 1;
        }
    }
    .level__num--1{
        background-image: url("../images/background-images/levels__bg/first__level__bg.jpeg");
    }
    .level__num--2{
        background-image: url("../images/background-images/levels__bg/second__level__bg.jpg");
    }
    .level__num--3{
        background-image: url("../images/background-images/levels__bg/third__level__bg.webp");
    }
}

.ball{
    width: 20px;
    height: 20px;
    background: red;
    position: absolute;
    z-index: 10;
    border-radius: 50%;
}

div[class *= "game__level"]{
    @include backgroundNoRepeatCoverCenter();
    left: 100%;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

.game__level__1{
    background-image: url("../images/background-images/levels__bg/first__level__bg.jpeg");
}
.game__level__2{
    background-image: url("../images/background-images/levels__bg/second__level__bg.jpg");
}
.game__level__3{
    background-image: url("../images/background-images/levels__bg/third__level__bg.webp");
}