// main ship

@use "sass:color";

div[class *= "fighter__"]{
    scale: .8;
}

.main__ship{
    width: 100px;
    height: 100px;
    position: relative;
    rotate: -90deg;
    > * {
        position: absolute;
    }
    &--bullet__container{
        width: 100px;
        height: 100px;
        z-index: -1;
        position: absolute;
        scale: .8;
        .mainShip__bullet{
            height: 5px;
            width: 50%;
            background: linear-gradient(to bottom, #FFA, #FF4);
            border-radius: 50% 50%;
            z-index: 100;
            position: absolute;
        }
        .mainShip__bullet--num--1{
            right: 5%;
            top: calc(50% - 2.5px);
        }
        .mainShip__bullet--num--2{
            left: 5%;
            top: calc(33% - 2.5px);
        }
        .mainShip__bullet--num--3{
            left: 5%;
            bottom: calc(33% - 2.5px);
        }
    }
    &--blaster__container{
        width: 100px;
        height: 100px;
        position: absolute;
        z-index: -1;
        scale: .8;

        .mainShip__blaster{
            width: 50%;
            height: 5%;
            background: linear-gradient(to right, #29005b, #5106ae);
            position: absolute;
            border-radius: 40%;
        }
        
        .mainShip__blaster--num--1, .mainShip__blaster--num--2{
            &::after{
                content: "";
                width: 30%;
                height: 150%;
                position: absolute;
                background: linear-gradient(to right, #ffffff, #a380cf);
                right: 0;
                bottom: -25%;
                border-radius: 0 50% 50% 0;
                left: 90%;
            }
        }

        .mainShip__blaster--num--1{
            top: 15%; 
            left: 5%;
        }

        .mainShip__blaster--num--2{
            bottom: 15%;
            left: 5%;
        }
    }
}
$data-bg: color.scale(rgba(142, 87, 209, 0.3), $lightness: 50%);

.blasterExplosion{
    width: 80px;
    height: 80px;
    background: #ffff44;
    position: absolute;
    z-index: 3;
    border-radius: 50%;
}

@keyframes explosionAnimation {
    0%{
        outline-offset: 10px;
        outline: 70px solid #b12105;
        scale: 0;
        border: 30px solid #ff9436;
    }
    30%{
        outline: 30px solid #b12105;
    }
    50%{
        outline-offset: 0;
    }
    80%{
        outline: 1px solid #ff9436;
        border: 1px solid #ff9436;
        opacity: 1;
    }
    100%{
        background: rgb(250, 104, 12);
        opacity: 0;
    }
}


#main__ship__fuelData{
    width: 80px;
    height: 350px;
    background: $data-bg;
    position: absolute;
    right: -80px;
    bottom: 0;
    gap: 20px;
    border-radius: 50px 0 0 0;
    .fuel__icon{
        font-size: 40px;
    }
    .fuel__level{
        width: 70%;
        height: 262.5px;
        background: radial-gradient(#c0c0c0, #898886);
        border-radius: 30px;
        overflow: hidden;
        .current__fuel__level{
            width: 100%;
            height: 0%;
            transition: height .2s, background-color .3s;
            background: #ffe436;
        }
    }
}

#main__ship__blasterData{
    width: 150px;
    height: 150px;
    position: absolute;
    background: $data-bg;
    border-radius: 0 50px 0 0;
    bottom: 0;
    left: -150px;
    gap: 5px;
    .blaster__icon{
        font-size: 40px;
    }
    #blaster__num{
        font-size: 35px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

#main__ship__healthData{
    width: 80px;
    height: 200px;
    position: absolute;
    right: -80px;
    top: 0;
    background: $data-bg;
    border-radius: 0 0 0 50px;
    padding: 20px 0;
    span{
        font-size: 25px;
        color: #ff0000;
    }
}

.blasterAlarm{
    animation: BlasterAlarm .3s 6 alternate both;
}

@keyframes BlasterAlarm {
    0%{
        background: $data-bg;
    }
    100%{
        background-color: rgba(218, 0, 44, 0.9);
    }
}

div[class *= "main__ship--motor"]{
    width: 60%;
    height: 15%;
    background: #8c56d0;
    .main__ship--guns{
        width: 30%;
        height: 10%;
        background: white;
        position: absolute;
    }
}

.main__ship--motor__1{
    .gun__longer{
        right: -10%;
        top: 30%;
    }
    
    .gun__shorter{
        right: -15%;
        bottom: 30%;
    }
}

.main__ship--motor__2{
    .gun__longer{
        right: -10%;
        bottom: 30%;
    }
    
    .gun__shorter{
        right: -15%;
        top: 30%;
    }
}

.main__ship--motor__1{
    top: 25%;
    border-radius: 0 30px 0 0;
}

.main__ship--motor__2{
    bottom: 25%;
    border-radius: 0 0 30px 0;
}

.main__ship__cabin{
    width: 70%;
    height: 20%;
    top: 40%;
    right: 0;
    border-radius: 0 50% 50% 0;
    background: white;
}

.main__ship__cabin--glass{
    width: 30%;
    height: 70%;
    position: absolute;
    border-radius: 60% 100% 100% 60%;
    top: 15%;
    right: 15%;
    background: #29005b;
}

.main__ship__blasters{
    width: 50%;
    height: 5%;
    background: #ffffff;
    border-radius: 40%;
    &::after{
        content: "";
        width: 30%;
        height: 30%;
        position: absolute;
        background: #6a5683;
        left: 35%;
        rotate: 90deg;
    }
}

.main__ship__blaster--1{
    top: 15%;
    &::after{
        bottom: -80%;
        z-index: 2;
    }
}

.main__ship__blaster--2{
    bottom: 15%;
    &::after{
        top: -80%;
        z-index: 2;
    }
}

// enemy container

.enemy__container{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 100px;
    padding: 15vh 20vw 0 20vw;
    align-items: flex-start;
    justify-content: center;
}

.enemy__container--lower{
    z-index: -1;
}

// destroyed style

.destroyed__ship{
    visibility: hidden;
}

// fighter number 1

.fighter__1{
    width: 70px;
    height: 70px;
    position: relative;
    rotate: 90deg;
    > *{
        position: absolute;
    }
}

.health__container{
    width: 10%;
    height: 100%;
    background: #ffffff;
    border: 2px solid #ffffff;
    left: -25%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
    .current__health{
        height: 100%;
        width: 100%;
        background: red;
    }
}

div[class *= "fighter__1--motor--"]{
    width: 30%;
    height: 15%;
    background: #513b3c;
}

.fighter__1--motor--1{
    top: 19%;
}

.fighter__1--motor--2{
    bottom: 19%;
}

.fighter__1--main--cabin{
    width: 80%;
    height: 70%;
    background: #c71824;
    z-index: 1;
    top: 15%;
    right: 0;
    &::after, &::before{
        content: "";
        position: absolute;
        width: 60%;
        height: 35%;
        right: -30%;
        background: #513b3c;
        right: -21%;
    }
    &::after{
        top: -6%;
        rotate: 45deg;
        border-radius: 30px 30px 5px 5px;
    }
    &::before{
        bottom: -6%;
        rotate: -45deg;
        border-radius: 5px 5px 30px 30px;
    }
}

div[class *= "fighter__1--glasses--"]{
    background: #28074f;
    width: 20%;
    height: 23%;
    position: absolute;
    transform: rotate(45deg);
}

.fighter__1--glasses--1{
    right: 15%;
    top: 38.5%;
}

.fighter__1--glasses--2{
    transform: rotate(38deg) !important;
    right: 24%;
    top: 22.5%;
}

.fighter__1--glasses--3{
    transform: rotate(-38deg) !important;
    right: 24%;
    bottom: 22.5%;
}


div[class *= "fighter__1--motor--cover--"]{
    width: 40%;
    height: 5%;
    left: 0%;
    z-index: 2;
    background: #513b3c;
    border-radius: 0 100% 100% 0;
}

.fighter__1--motor--cover--1{
    top: 15%;
}

.fighter__1--motor--cover--2{
    bottom: 15%;
}

div[class *= "fighter__1--gun--"]{
    width: 60%;
    height: 7%;
    left: 0%;
    z-index: 0;
    background: #513b3c;
    border-radius: 0 100% 100% 0;
    &::after{
        content: "";
        position: absolute;
        width: 40%;
        height: 50%;
        background: #c71824;
        rotate: 90deg;
        right: 30%;
        z-index: 0;
    }
    &::before{
        content: "";
        position: absolute;
        width: 40%;
        height: 50%;
        background: #c71824;
        rotate: 90deg;
        z-index: 0;
    }
}

.fighter__1--gun--1{
    top: 0%;
    &::after, &::before{
        bottom: -110%;
    }
}

.fighter__1--gun--2{
    bottom: 0%;
    &::after, &::before{
        top: -110%;
    }
}

// fighter number 2

.fighter__2{
    width: 70px;
    height: 70px;
    position: relative;
    rotate: 90deg;
    > *{
        position: absolute;
    }
}

.fighter__2--main--cabin{
    width: 90%;
    height: 30%;
    background: #c71824;
    z-index: 2;
    top: 35%;
    border-radius: 0 50% 50% 0;
}

div[class *= "fighter__2--motor--"]{
    width: 20%;
    height: 15%;
    background: #513b3c;
}

.fighter__2--motor--1{
    top: 20%;
    border-radius: 0 100% 0 0;
}

.fighter__2--motor--2{
    bottom: 20%;
    border-radius: 0 0 100% 0;
}

div[class *= "fighter__2--blasters--"]{
    width: 50%;
    height: 10%;
    background: #c71824;
    right: 15%;
    z-index: 3;
}

.fighter__2--blasters--1{
    top: 12%;
}

.fighter__2--blasters--2{
    bottom: 12%;
}

div[class *= "fighter__2--blaster--keeper--"]{
    content: "";
    height: 5%;
    width: 30%;
    position: absolute;
    background: #513b3c;
    right: 45%;
    border-radius: 0 30% 30% 0;
    border-radius: 30%;
}

.fighter__2--blaster--keeper--1{
    top: 25%;
    rotate: -65deg;
}

.fighter__2--blaster--keeper--2{
    bottom: 25%;
    rotate: 65deg;
}

.fighter__2--main--cabin--glass{
    width: 40%;
    height: 60%;
    top: 20%;
    left: 30%;
    border-radius: 30% 60% 60% 30%;
    position: absolute;
    background: #28074f;
}

// fighter number 3


.fighter__3{
    width: 70px;
    height: 70px;
    position: relative;
    rotate: 90deg;
    > *{
        position: absolute;
    }
}

.fighter__3--main--cabin{
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background: #c71824;
    top: 20%;
    left: 20%;
}

.fighter__3--cabin--glass{
    height: 30%;
    width: 50%;
    top: 35%;
    left: 25%;
    background: #28074f;
    position: absolute;
    border-radius: 10% 60% 60% 10%;
}

div[class *= "fighter__3--blaster--"]{
    width: 55%;
    height: 15%;
    background: #503a3b;
    z-index: 1;
    left: 22.5%;
    border-radius: 35%;
    &::after{
        content: "";
        position: absolute;
        background-color: #c71824;
        width: 60%;
        height: 70%;
        border-radius: 50%;
        left: 20%;
    }
}

.fighter__3--blaster--1{
    top: 15%;
    &::after{
        top: 15%;
    }
}

.fighter__3--blaster--2{
    bottom: 15%;
    &::after{
        bottom: 15%;
    }
}

div[class *= "fighter__3--gun--"]{
    width: 17%;
    height: 4%;
    background: #513b3c;
    right: 10%;
    z-index: 2;
}

.fighter__3--gun--1{
    top: 40%;
}

.fighter__3--gun--2{
    bottom: 40%;
}

// boss fight

.boss__fight{
    width: 200px;
    height: 200px;
    position: relative;
    > *{
        position: absolute;
    }
}

.outer__box{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.inner__box{
    width: 100%;
    height: 100%;
    background: radial-gradient(#c71824, #503a3b 70%);
    rotate: 45deg;
}

div[class *= "boss__fight--blaster"]{
    width: 15%;
    height: 2%;
    border-radius: 0 50% 50% 0;
    background: #503a3b;
}

.boss__fight--blaster--1{
    rotate: -90deg;
    left: 27%;
    top: -2%;
}

.boss__fight--blaster--2{
    rotate: -90deg;
    right: 27%;
    top: -2%;
}

.boss__fight--blaster--3{
    right: -8%;
    top: 33%;
}

.boss__fight--blaster--4{
    right: -8%;
    bottom: 33%;
}

.boss__fight--blaster--5{
    rotate: 90deg;
    left: 27%;
    bottom: -2%;
}

.boss__fight--blaster--6{
    rotate: 90deg;
    right: 27%;
    bottom: -2%;
}

.boss__fight--blaster--7{
    rotate: 180deg;
    left: -8%;
    top: 33%;
}

.boss__fight--blaster--8{
    rotate: 180deg;
    left: -8%;
    bottom: 33%;
}

div[class *= "boss__fight--gun--"]{
    width: 10%;
    height: 1%;
    background: #c71824;
}

.boss__fight--gun--1{
    rotate: 90deg;
    top: -1%;
    left: 41%;
}

.boss__fight--gun--2{
    rotate: 90deg;
    top: -1%;
    right: 41%;
}

.boss__fight--gun--3{
    right: -5.5%;
    top: 45%;
}

.boss__fight--gun--4{
    right: -5.5%;
    bottom: 45%;
}

.boss__fight--gun--5{
    rotate: 90deg;
    bottom: -1%;
    right: 41%;
}

.boss__fight--gun--6{
    rotate: 90deg;
    bottom: -1%;
    left: 41%;
}

.boss__fight--gun--7{
    left: -5.5%;
    bottom: 45%;
}

.boss__fight--gun--8{
    left: -5.5%;
    top: 45%;
}

div[class *= "boss__fight--laser--"]{
    width: 15%;
    height: 5%;
    background: #a5222b;
}

.boss__fight--laser--1{
    left: 6%;
    top: 10%;
    rotate: -45deg;
    border-radius: 30px 30px 0 0;
}

.boss__fight--laser--2{
    right: 6%;
    top: 10%;
    rotate: 45deg;
    border-radius: 30px 30px 0 0;
}

.boss__fight--laser--3{
    right: 6%;
    bottom: 10%;
    rotate: -45deg;
    border-radius: 0 0 30px 30px;
}

.boss__fight--laser--4{
    left: 6%;
    bottom: 10%;
    rotate: 45deg;
    border-radius: 0 0 30px 30px;
}
