// main ship
.main__ship{
    width: 150px;
    height: 150px;
    position: relative;
    > * {
        position: absolute;
    }
}

div[class *= "main__ship--motor"]{
    width: 60%;
    height: 15%;
    background: #8c56d0;
    .main__ship--guns{
        width: 30%;
        height: 10%;
        background: white;
        position: absolute;
    }
}

.main__ship--motor__1{
    .gun__longer{
        right: -10%;
        top: 30%;
    }
    
    .gun__shorter{
        right: -15%;
        bottom: 30%;
    }
}

.main__ship--motor__2{
    .gun__longer{
        right: -10%;
        bottom: 30%;
    }
    
    .gun__shorter{
        right: -15%;
        top: 30%;
    }
}

.main__ship--motor__1{
    top: 25%;
    border-radius: 0 30px 0 0;
}

.main__ship--motor__2{
    bottom: 25%;
    border-radius: 0 0 30px 0;
}

.main__ship__cabin{
    width: 70%;
    height: 20%;
    top: 40%;
    right: 0;
    border-radius: 0 50% 50% 0;
    background: white;
}

.main__ship__cabin--glass{
    width: 30%;
    height: 70%;
    position: absolute;
    border-radius: 60% 100% 100% 60%;
    top: 15%;
    right: 15%;
    background: #29005b;
}

.main__ship__blasters{
    width: 50%;
    height: 5%;
    background: #ffffff;
    border-radius: 40%;
    &::after{
        content: "";
        width: 30%;
        height: 30%;
        position: absolute;
        background: #6a5683;
        left: 35%;
        rotate: 90deg;
    }
}

.main__ship__blaster--1{
    top: 15%;
    &::after{
        bottom: -80%;
        z-index: 2;
    }
}

.main__ship__blaster--2{
    bottom: 15%;
    &::after{
        top: -80%;
        z-index: 2;
    }
}

// fighter number 1

.fighter__1{
    width: 150px;
    height: 150px;
    position: relative;
    > *{
        position: absolute;
    }
}

div[class *= "fighter__1--motor--"]{
    width: 30%;
    height: 15%;
    background: #513b3c;
}

.fighter__1--motor--1{
    top: 20%;
}

.fighter__1--motor--2{
    bottom: 20%;
}

.fighter__1--main--cabin{
    width: 80%;
    height: 70%;
    background: #c71824;
    z-index: 1;
    top: 15%;
    right: 0;
    &::after, &::before{
        content: "";
        position: absolute;
        width: 80%;
        height: 35%;
        right: -30%;
        background: black;
    }
    &::after{
        top: -5%;
        rotate: 35deg;
    }
    &::before{
        bottom: -5%;
        rotate: -35deg;
    }
}

div[class *= "fighter__1--glasses--"]{
    background: #28074f;
    width: 20%;
    height: 23%;
    position: absolute;
    transform: rotate(45deg);
}

.fighter__1--glasses--1{
    right: 8%;
    top: 38.5%;
}

.fighter__1--glasses--2{
    right: 24%;
    top: 20.5%;
}

.fighter__1--glasses--3{
    right: 24%;
    bottom: 20.5%;
}


div[class *= "fighter__1--gun--"]{
    width: 40%;
    height: 5%;
    right: 3%;
    z-index: 2;
    background: #513b3c;
    border-radius: 0 100% 100% 0;
}

.fighter__1--gun--1{
    top: 15%;
}

.fighter__1--gun--2{
    bottom: 15%;
}