@import "./reset";
@import "./ship-styles";

.page__container{
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    > div{
        width: 20%;
        height: 100vh;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        > h1{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 3rem;
            text-align: center;
        }
    }
}

.fighter__2{
    width: 200px;
    height: 200px;
    background: green;
    position: relative;
    > *{
        position: absolute;
    }
}

.fighter__2--main--cabin{
    width: 90%;
    height: 30%;
    background: yellow;
    z-index: 2;
    top: 35%;
    border-radius: 0 50% 50% 0;
}

div[class *= "fighter__2--motor--"]{
    width: 20%;
    height: 15%;
    background: blue;
}

.fighter__2--motor--1{
    top: 20%;
}

.fighter__2--motor--2{
    bottom: 20%;
}

div[class *= "fighter__2--blaster--"]{
    width: 50%;
    height: 10%;
    background: red;
    right: 0;
    &::before{
        content: "";
        height: 40%;
        width: 50%;
        position: absolute;
        background: rgb(179, 17, 176);
        left: -25%;
    }
}

.fighter__2--blaster--1{
    top: 12%;
    &::before{
        bottom: -80%;
        rotate: -65deg;
    }
}

.fighter__2--blaster--2{
    bottom: 12%;
    &::before{
        top: -80%;
        rotate: 65deg;
    }
}
