@import "tailwindcss";

@theme {
  --font-exo2: "Exo 2", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --color-custom-brown: #52393c;
  --color-custom-red: #c81823;
  --color-custom-pink: #8c56d0;
  --color-custom-black: #0e0e0e;
  --color-custom-purple: #29005c;
  --color-space: #000409;
}

@layer utilities {
  .border-custom {
    --s: 7px;
    border: 2px solid transparent;
    padding: 3px 15px;
    text-align: center;
    mask:
      conic-gradient(#000 0 0) content-box,
      conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
        calc(100% - var(--s)) calc(100% - var(--s));
    transition: border-color 0.6s;
    cursor: pointer;
  }
}
